name: CI Pipeline for ParaBank QA Framework

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 2
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12.6'

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libasound2 libffi7 libx264-163
 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Ensure browsers are installed
      run: python -m playwright install --with-deps
    
    - name: Install Allure CLI
      uses: simple-elf/setup-allure-cli@v1
      with:
        allure-version: '2.25.0'
    
    - name: Run API tests
      run: pytest tests/test_api/ -v -m api --allure
    - name: Run UI tests
      run: pytest tests/test_ui/ -v -m ui --allure
    
    
    - name: Generate Allure report
      if: always()
      run: |
        mkdir -p reports/allure-results
        allure generate allure-results -o allure-report --clean
        
    - name: Upload Allure report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: reports/allure-results
        
    - name: Upload raw Allure results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: reports/allure-results
        
    - name: Upload HTML report artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-html-report
        path: Report
        retention-days: 2
