name: CI Pipeline for ParaBank QA Framework

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12.6'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Ensure browsers are installed
      run: python -m playwright install --with-deps
    - name: Run API tests
      run: pytest tests/test_api/ -v -m api --alluredir=reports/allure-results
    - name: Run UI tests
      run: pytest tests/test_ui/ -v -m ui --alluredir=reports/allure-results
    
    
    - name: Generate Allure report
      if: always()
      run: |
        mkdir -p reports/allure-report
        allure generate allure-results -o allure-report --clean
        
    - name: Upload Allure report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: reports/allure-report
        
    - name: Upload raw Allure results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: reports/allure-results
        
    - name: Upload HTML report artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-html-report
        path: Report/report.html 
        retention-days: 2
